openapi: 3.1.0
info:
  description: Unified credit-based scraping API. https://docs.scrapebadger.com
  title: ScrapeBadger API
  version: 0.1.0
servers:
- url: https://scrapebadger.com
security:
- ApiKeyAuth: []
tags:
- name: Account
- name: Amazon
- name: Apartments
- name: App-Store
- name: Baidu
- name: Bing
- name: ChatGPT
- name: Depop
- name: DuckDuckGo
- name: eBay
- name: Facebook
- name: Gemini
- name: Google-Play
- name: Google
- name: Idealista
- name: Immobiliare
- name: Instagram
- name: Leboncoin
- name: LinkedIn
- name: LoopNet
- name: Perplexity
- name: Realtor
- name: Reddit
- name: Redfin
- name: TikTok
- name: Twitter
- name: Vinted
- name: Walmart
- name: Web
- name: Yahoo
- name: Yandex
- name: YouTube
- name: Zillow
paths:
  /v1/account/me:
    get:
      description: |-
        Get account details for the authenticated API key.

        Returns credit balances, tier, rate limit, and subscription details.
        No credits are deducted for this call.
      operationId: account_get_account_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfo'
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Get account info
      tags:
      - Account
      x-accepts:
      - application/json
  /v1/amazon/autocomplete:
    get:
      description: Get Amazon search autocomplete suggestions for keyword research.
      operationId: amazon_keyword_suggestions
      parameters:
      - description: Partial search term
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Partial search term
          title: Query
          type: string
        style: form
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Keyword suggestions
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/bestsellers:
    get:
      description: Top-selling products for a category (browse node).
      operationId: amazon_bestsellers_by_category
      parameters:
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - description: Bestsellers node id or slug
        explode: true
        in: query
        name: category
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 2
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Bestsellers by category
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/categories:
    get:
      description: List common Amazon department/category aliases and bestseller nodes.
      operationId: amazon_list_category_aliases
      parameters:
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: List category aliases
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/category:
    get:
      description: List products within an Amazon browse-node category.
      operationId: amazon_browse_node_category_listing
      parameters:
      - description: Amazon browse-node id
        explode: true
        in: query
        name: node
        required: true
        schema:
          description: Amazon browse-node id
          title: Node
          type: string
        style: form
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 20
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Browse-node category listing
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/deals:
    get:
      description: "Current Amazon deals (lightning deals, best deals)."
      operationId: amazon_today_s_deals
      parameters:
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: category
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Today's deals
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/health:
    get:
      description: Check health of the Amazon scraper service (accepts HEAD for UptimeRobot).
      operationId: amazon_amazon_scraper_health_check
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Amazon scraper health check
      tags:
      - Amazon
      x-accepts:
      - application/json
    head:
      description: Check health of the Amazon scraper service (accepts HEAD for UptimeRobot).
      operationId: amazon_amazon_scraper_health_check_head
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Amazon scraper health check
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/markets:
    get:
      description: List all supported Amazon marketplaces.
      operationId: amazon_list_marketplaces
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: List marketplaces
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/new-releases:
    get:
      description: Newly released products for a category (browse node).
      operationId: amazon_new_releases_by_category
      parameters:
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: category
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 2
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: New releases by category
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/products/{asin}:
    get:
      description: "Full product detail by ASIN (price, variants, badges, buybox,\
        \ ranks…)."
      operationId: amazon_get_product_detail
      parameters:
      - explode: false
        in: path
        name: asin
        required: true
        schema:
          title: Asin
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - description: Delivery postal/zip for localized buybox
        explode: true
        in: query
        name: zip
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: language
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get product detail
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/products/{asin}/offers:
    get:
      description: "All third-party offers for an ASIN, including the Buy Box winner."
      operationId: amazon_get_all_seller_offers_buybox
      parameters:
      - explode: false
        in: path
        name: asin
        required: true
        schema:
          title: Asin
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: zip
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get all seller offers (buybox)
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/products/{asin}/reviews:
    get:
      description: "Customer reviews for an ASIN (featured + paginated, with filters)."
      operationId: amazon_get_product_reviews
      parameters:
      - explode: false
        in: path
        name: asin
        required: true
        schema:
          title: Asin
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - description: "Review page (1-100, ~10 reviews/page)"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: "Review page (1-100, ~10 reviews/page)"
          maximum: 100
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: helpful | recent
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: helpful
          description: helpful | recent
          title: Sort By
          type: string
        style: form
      - description: one_star..five_star | positive | critical
        explode: true
        in: query
        name: star
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: verified_only
        required: false
        schema:
          default: false
          title: Verified Only
          type: boolean
        style: form
      - explode: true
        in: query
        name: media_only
        required: false
        schema:
          default: false
          title: Media Only
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get product reviews
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/search:
    get:
      description: Search the Amazon catalog with filters and sorting.
      operationId: amazon_search_amazon_products
      parameters:
      - description: Search keywords
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search keywords
          title: Query
          type: string
        style: form
      - description: "Amazon marketplace TLD or code (com, co.uk, de…)"
        explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          description: "Amazon marketplace TLD or code (com, co.uk, de…)"
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 20
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: relevance | price_low_to_high | price_high_to_low | avg_review
          | newest
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Department/category alias (i= param)
        explode: true
        in: query
        name: category
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: min_price
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      - explode: true
        in: query
        name: max_price
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      - description: Delivery postal/zip code for localized pricing
        explode: true
        in: query
        name: zip
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Locale for results, e.g. en_US, fr_FR"
        explode: true
        in: query
        name: language
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Search Amazon products
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/sellers/{seller_id}:
    get:
      description: "Seller profile, ratings and feedback summary."
      operationId: amazon_get_seller_profile
      parameters:
      - explode: false
        in: path
        name: seller_id
        required: true
        schema:
          title: Seller Id
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get seller profile
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/sellers/{seller_id}/feedback:
    get:
      description: Buyer feedback entries for a seller.
      operationId: amazon_get_seller_feedback
      parameters:
      - explode: false
        in: path
        name: seller_id
        required: true
        schema:
          title: Seller Id
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get seller feedback
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/amazon/sellers/{seller_id}/products:
    get:
      description: Products listed in a seller's storefront.
      operationId: amazon_get_seller_storefront_products
      parameters:
      - explode: false
        in: path
        name: seller_id
        required: true
        schema:
          title: Seller Id
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get seller storefront products
      tags:
      - Amazon
      x-accepts:
      - application/json
  /v1/apartments/health:
    get:
      description: Check health of the Apartments scraper service (accepts HEAD for
        UptimeRobot).
      operationId: apartments_apartments_scraper_health_check
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Apartments scraper health check
      tags:
      - Apartments
      x-accepts:
      - application/json
    head:
      description: Check health of the Apartments scraper service (accepts HEAD for
        UptimeRobot).
      operationId: apartments_apartments_scraper_health_check_head
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Apartments scraper health check
      tags:
      - Apartments
      x-accepts:
      - application/json
  /v1/apartments/properties/{slug}/{property_id}:
    get:
      description: Get a property by its SEO slug and 7-character listing id.
      operationId: apartments_get_property_detail_by_slug_id
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          title: Slug
          type: string
        style: simple
      - explode: false
        in: path
        name: property_id
        required: true
        schema:
          title: Property Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get property detail by slug + id
      tags:
      - Apartments
      x-accepts:
      - application/json
  /v1/apartments/property:
    get:
      description: Get an apartments.com property with full per-unit pricing and availability.
      operationId: apartments_get_property_detail_by_url
      parameters:
      - description: "Full apartments.com property URL, e.g. https://www.apartments.com/urbane-kansas-city-mo/wcd6e5k/"
        explode: true
        in: query
        name: url
        required: true
        schema:
          description: "Full apartments.com property URL, e.g. https://www.apartments.com/urbane-kansas-city-mo/wcd6e5k/"
          title: Url
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get property detail by URL
      tags:
      - Apartments
      x-accepts:
      - application/json
  /v1/apartments/search:
    get:
      description: Search apartments.com for rental properties. 40 cards per page.
      operationId: apartments_search_rental_listings
      parameters:
      - description: "apartments.com location slug, e.g. 'kansas-city-mo'"
        explode: true
        in: query
        name: location
        required: true
        schema:
          description: "apartments.com location slug, e.g. 'kansas-city-mo'"
          title: Location
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 28
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: "0=studio, 1-4 bedrooms"
        explode: true
        in: query
        name: beds
        required: false
        schema:
          maximum: 4
          minimum: 0
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: min_price
        required: false
        schema:
          maximum: 20000
          minimum: 100
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: max_price
        required: false
        schema:
          maximum: 20000
          minimum: 100
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Search rental listings
      tags:
      - Apartments
      x-accepts:
      - application/json
  /v1/app-store/apps/{app_id}:
    get:
      description: |-
        App detail: bundle id, version, pricing, ratings, genres, min OS, size,
        languages, screenshots, in-app purchases and version history.
      operationId: app-store_get_app_detail
      parameters:
      - description: Numeric trackId (e.g. '310633997') or bundle id (e.g. 'net.whatsapp.WhatsApp').
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: Numeric trackId (e.g. '310633997') or bundle id (e.g. 'net.whatsapp.WhatsApp').
          title: App Id
          type: string
        style: simple
      - explode: true
        in: query
        name: country
        required: false
        schema:
          default: us
          title: Country
          type: string
        style: form
      - description: "Result language, e.g. 'en_us'"
        explode: true
        in: query
        name: lang
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Fetch the storefront page for rating histogram, IAP list, full-res\
          \ screenshots and App Privacy. Set false to skip the 2nd fetch."
        explode: true
        in: query
        name: include_extras
        required: false
        schema:
          default: true
          description: "Fetch the storefront page for rating histogram, IAP list,\
            \ full-res screenshots and App Privacy. Set false to skip the 2nd fetch."
          title: Include Extras
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get app detail
      tags:
      - App-Store
      x-accepts:
      - application/json
  /v1/app-store/apps/{app_id}/reviews:
    get:
      description: "Paginated customer reviews (50 per page, up to 10 pages)."
      operationId: app-store_get_app_reviews
      parameters:
      - description: "Numeric trackId, e.g. '310633997'"
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          description: "Numeric trackId, e.g. '310633997'"
          title: App Id
          type: string
        style: simple
      - explode: true
        in: query
        name: country
        required: false
        schema:
          default: us
          title: Country
          type: string
        style: form
      - description: Apple caps reviews at 10 pages
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: Apple caps reviews at 10 pages
          maximum: 10
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: mostRecent | mostHelpful
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: mostRecent
          description: mostRecent | mostHelpful
          title: Sort
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get app reviews
      tags:
      - App-Store
      x-accepts:
      - application/json
  /v1/app-store/charts:
    get:
      description: "Top charts, optionally scoped to a genre."
      operationId: app-store_top_charts
      parameters:
      - explode: true
        in: query
        name: country
        required: false
        schema:
          default: us
          title: Country
          type: string
        style: form
      - description: top-free | top-paid | top-grossing
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: top-free
          description: top-free | top-paid | top-grossing
          title: Type
          type: string
        style: form
      - description: "Apple genre id (optional), e.g. 6014"
        explode: true
        in: query
        name: genre
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          title: Limit
          type: integer
        style: form
      - description: apps (iPhone) | ipad
        explode: true
        in: query
        name: entity
        required: false
        schema:
          default: apps
          description: apps (iPhone) | ipad
          title: Entity
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Top charts
      tags:
      - App-Store
      x-accepts:
      - application/json
  /v1/app-store/developers/{artist_id}:
    get:
      description: Developer info and their published apps.
      operationId: app-store_get_developer_apps
      parameters:
      - description: Numeric artistId (developer id)
        explode: false
        in: path
        name: artist_id
        required: true
        schema:
          description: Numeric artistId (developer id)
          title: Artist Id
          type: string
        style: simple
      - explode: true
        in: query
        name: country
        required: false
        schema:
          default: us
          title: Country
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get developer apps
      tags:
      - App-Store
      x-accepts:
      - application/json
  /v1/app-store/genres:
    get:
      description: The Apple App Store genre/category ids.
      operationId: app-store_list_genres
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: List genres
      tags:
      - App-Store
      x-accepts:
      - application/json
  /v1/app-store/markets:
    get:
      description: Supported App Store country codes.
      operationId: app-store_list_markets
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: List markets
      tags:
      - App-Store
      x-accepts:
      - application/json
  /v1/app-store/search:
    get:
      description: Search the Apple App Store.
      operationId: app-store_search_apps
      parameters:
      - description: "Search term, e.g. 'chat'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Search term, e.g. 'chat'"
          title: Query
          type: string
        style: form
      - description: App Store country code
        explode: true
        in: query
        name: country
        required: false
        schema:
          default: us
          description: App Store country code
          title: Country
          type: string
        style: form
      - description: software | iPadSoftware | macSoftware
        explode: true
        in: query
        name: entity
        required: false
        schema:
          default: software
          description: software | iPadSoftware | macSoftware
          title: Entity
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 200
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: "Language, e.g. 'en_us'"
        explode: true
        in: query
        name: lang
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Search apps
      tags:
      - App-Store
      x-accepts:
      - application/json
  /v1/baidu/autocomplete:
    get:
      description: Baidu search-box suggestions.
      operationId: baidu_search_suggestions
      parameters:
      - description: "Partial search term, e.g. '咖啡' or 'coff'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Partial search term, e.g. '咖啡' or 'coff'"
          title: Query
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Search suggestions
      tags:
      - Baidu
      x-accepts:
      - application/json
  /v1/baidu/health:
    get:
      description: Check health of the Baidu scraper service (accepts HEAD for UptimeRobot).
      operationId: baidu_baidu_scraper_health_check
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Baidu scraper health check
      tags:
      - Baidu
      x-accepts:
      - application/json
    head:
      description: Check health of the Baidu scraper service (accepts HEAD for UptimeRobot).
      operationId: baidu_baidu_scraper_health_check_head
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Baidu scraper health check
      tags:
      - Baidu
      x-accepts:
      - application/json
  /v1/baidu/images:
    get:
      description: Baidu image search via the acjson JSON API.
      operationId: baidu_baidu_image_search
      parameters:
      - description: Search keywords
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search keywords
          title: Query
          type: string
        style: form
      - description: 30 images per page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: 30 images per page
          maximum: 50
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Baidu image search
      tags:
      - Baidu
      x-accepts:
      - application/json
  /v1/baidu/news:
    get:
      description: "Baidu news vertical — articles with source, publish date and real\
        \ URLs."
      operationId: baidu_baidu_news_search
      parameters:
      - description: Search keywords
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search keywords
          title: Query
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 76
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Baidu news search
      tags:
      - Baidu
      x-accepts:
      - application/json
  /v1/baidu/search:
    get:
      description: "Baidu web SERP — organic results with real target URLs, related\
        \ searches, total count."
      operationId: baidu_baidu_web_search
      parameters:
      - description: "Search keywords, e.g. '咖啡机' or 'coffee machine'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Search keywords, e.g. '咖啡机' or 'coffee machine'"
          title: Query
          type: string
        style: form
      - description: Result page (10 results per page)
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: Result page (10 results per page)
          maximum: 76
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: Results per page (rn)
        explode: true
        in: query
        name: num
        required: false
        schema:
          default: 10
          description: Results per page (rn)
          maximum: 50
          minimum: 1
          title: Num
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Baidu web search
      tags:
      - Baidu
      x-accepts:
      - application/json
  /v1/bing/autocomplete:
    get:
      description: Bing search-box query suggestions.
      operationId: bing_search_suggestions
      parameters:
      - description: "Partial search term, e.g. 'coff'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Partial search term, e.g. 'coff'"
          title: Query
          type: string
        style: form
      - description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: en-US
          description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Search suggestions
      tags:
      - Bing
      x-accepts:
      - application/json
  /v1/bing/health:
    get:
      description: Check health of the Bing scraper service (accepts HEAD for UptimeRobot).
      operationId: bing_bing_scraper_health_check
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Bing scraper health check
      tags:
      - Bing
      x-accepts:
      - application/json
    head:
      description: Check health of the Bing scraper service (accepts HEAD for UptimeRobot).
      operationId: bing_bing_scraper_health_check_head
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Bing scraper health check
      tags:
      - Bing
      x-accepts:
      - application/json
  /v1/bing/images:
    get:
      description: "Bing Images — thumbnail, full-size and source URL per result."
      operationId: bing_image_search
      parameters:
      - description: "Search keywords, e.g. 'golden retriever'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Search keywords, e.g. 'golden retriever'"
          title: Query
          type: string
        style: form
      - description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: en-US
          description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
          title: Market
          type: string
        style: form
      - description: Results to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 35
          description: Results to return
          maximum: 150
          minimum: 1
          title: Count
          type: integer
        style: form
      - description: off | moderate | strict
        explode: true
        in: query
        name: safe_search
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Image search
      tags:
      - Bing
      x-accepts:
      - application/json
  /v1/bing/markets:
    get:
      description: Supported Bing market codes. Free — costs no credits.
      operationId: bing_list_supported_markets
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: List supported markets
      tags:
      - Bing
      x-accepts:
      - application/json
  /v1/bing/news:
    get:
      description: "Bing News — headline, source, published time and snippet per article."
      operationId: bing_news_search
      parameters:
      - description: "Search keywords, e.g. 'interest rates'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Search keywords, e.g. 'interest rates'"
          title: Query
          type: string
        style: form
      - description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: en-US
          description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
          title: Market
          type: string
        style: form
      - description: day | week | month — restrict to recent articles
        explode: true
        in: query
        name: freshness
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: News search
      tags:
      - Bing
      x-accepts:
      - application/json
  /v1/bing/search:
    get:
      description: "Bing web SERP — organic results, ads, related searches and total\
        \ count."
      operationId: bing_web_search
      parameters:
      - description: "Search keywords, e.g. 'coffee machine'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Search keywords, e.g. 'coffee machine'"
          title: Query
          type: string
        style: form
      - description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: en-US
          description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
          title: Market
          type: string
        style: form
      - description: Results per page (1-50)
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 10
          description: Results per page (1-50)
          maximum: 50
          minimum: 1
          title: Count
          type: integer
        style: form
      - description: Zero-based result offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: Zero-based result offset for pagination
          minimum: 0
          title: Offset
          type: integer
        style: form
      - description: off | moderate | strict (default moderate)
        explode: true
        in: query
        name: safe_search
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Web search
      tags:
      - Bing
      x-accepts:
      - application/json
  /v1/bing/videos:
    get:
      description: "Bing Videos — title, thumbnail, duration, publisher and source\
        \ per result."
      operationId: bing_video_search
      parameters:
      - description: "Search keywords, e.g. 'espresso tutorial'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Search keywords, e.g. 'espresso tutorial'"
          title: Query
          type: string
        style: form
      - description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: en-US
          description: "Bing market code, e.g. 'en-US', 'en-GB', 'de-DE'. See /markets."
          title: Market
          type: string
        style: form
      - description: Results to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 35
          description: Results to return
          maximum: 150
          minimum: 1
          title: Count
          type: integer
        style: form
      - description: off | moderate | strict
        explode: true
        in: query
        name: safe_search
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Video search
      tags:
      - Bing
      x-accepts:
      - application/json
  /v1/chatgpt/ask:
    get:
      description: Send a prompt to ChatGPT and get the answer plus the web sources
        it cited.
      operationId: chatgpt_ask_chatgpt_a_question
      parameters:
      - description: The prompt to send to ChatGPT (max 4096 characters).
        explode: true
        in: query
        name: prompt
        required: true
        schema:
          description: The prompt to send to ChatGPT (max 4096 characters).
          title: Prompt
          type: string
        style: form
      - description: "ISO-3166 alpha-2 egress country, e.g. 'US', 'GB', 'DE'."
        explode: true
        in: query
        name: country
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: auto (let ChatGPT decide) | force (ask it to browse) | off (answer
          from memory). `web_search_triggered` in the response always reports what
          actually happened.
        explode: true
        in: query
        name: web_search
        required: false
        schema:
          default: auto
          description: auto (let ChatGPT decide) | force (ask it to browse) | off
            (answer from memory). `web_search_triggered` in the response always reports
            what actually happened.
          title: Web Search
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Ask ChatGPT a question
      tags:
      - ChatGPT
      x-accepts:
      - application/json
    post:
      description: "POST form of `/ask`, for prompts too long for a query string."
      operationId: chatgpt_ask_chatgpt_a_question_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Ask ChatGPT a question (POST)
      tags:
      - ChatGPT
      x-accepts:
      - application/json
  /v1/chatgpt/brand-visibility:
    get:
      description: "Ask ChatGPT, then report whether the brand is mentioned, cited\
        \ and how prominently."
      operationId: chatgpt_measure_a_brand_s_visibility_in_a_chatgpt_answer
      parameters:
      - description: The prompt to ask ChatGPT.
        explode: true
        in: query
        name: prompt
        required: true
        schema:
          description: The prompt to ask ChatGPT.
          title: Prompt
          type: string
        style: form
      - description: Brand name to look for in the answer.
        explode: true
        in: query
        name: brand
        required: true
        schema:
          description: Brand name to look for in the answer.
          title: Brand
          type: string
        style: form
      - description: "Brand domain, for citation matching."
        explode: true
        in: query
        name: domain
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Comma-separated alternative names.
        explode: true
        in: query
        name: aliases
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Comma-separated competitor names.
        explode: true
        in: query
        name: competitors
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: ISO-3166 alpha-2 egress country.
        explode: true
        in: query
        name: country
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: auto | force | off
        explode: true
        in: query
        name: web_search
        required: false
        schema:
          default: force
          description: auto | force | off
          title: Web Search
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Measure a brand's visibility in a ChatGPT answer
      tags:
      - ChatGPT
      x-accepts:
      - application/json
    post:
      description: "POST form, for longer prompts and larger competitor sets."
      operationId: chatgpt_measure_a_brand_s_visibility_in_a_chatgpt_answer_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Measure a brand's visibility in a ChatGPT answer (POST)
      tags:
      - ChatGPT
      x-accepts:
      - application/json
  /v1/chatgpt/health:
    get:
      description: Check health of the ChatGPT scraper service (accepts HEAD).
      operationId: chatgpt_chatgpt_scraper_health_check
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: ChatGPT scraper health check
      tags:
      - ChatGPT
      x-accepts:
      - application/json
    head:
      description: Check health of the ChatGPT scraper service (accepts HEAD).
      operationId: chatgpt_chatgpt_scraper_health_check_head
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: ChatGPT scraper health check
      tags:
      - ChatGPT
      x-accepts:
      - application/json
  /v1/chatgpt/models:
    get:
      description: Models chatgpt.com currently serves to an anonymous visitor.
      operationId: chatgpt_list_chatgpt_models
      parameters:
      - description: ISO-3166 alpha-2 egress country.
        explode: true
        in: query
        name: country
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: List ChatGPT models
      tags:
      - ChatGPT
      x-accepts:
      - application/json
  /v1/depop/health:
    get:
      description: Check health of the Depop scraper service (accepts HEAD).
      operationId: depop_depop_scraper_health_check
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Depop scraper health check
      tags:
      - Depop
      x-accepts:
      - application/json
    head:
      description: Check health of the Depop scraper service (accepts HEAD).
      operationId: depop_depop_scraper_health_check_head
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: Depop scraper health check
      tags:
      - Depop
      x-accepts:
      - application/json
  /v1/depop/markets:
    get:
      description: List supported Depop markets (country + currency).
      operationId: depop_list_markets
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: List markets
      tags:
      - Depop
      x-accepts:
      - application/json
  /v1/depop/products/{product_id}:
    get:
      description: Full detail for a single product (by numeric id or slug).
      operationId: depop_get_product_detail
      parameters:
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          title: Product Id
          type: string
        style: simple
      - description: Market code
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: us
          description: Market code
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get product detail
      tags:
      - Depop
      x-accepts:
      - application/json
  /v1/depop/search:
    get:
      description: Search the Depop catalog with filters (cursor-paginated).
      operationId: depop_search_depop_products
      parameters:
      - description: "Search text, e.g. 'nike vintage'"
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: "Search text, e.g. 'nike vintage'"
          title: Query
          type: string
        style: form
      - description: "Market code (us, gb, au, it, fr, ...)"
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: us
          description: "Market code (us, gb, au, it, fr, ...)"
          title: Market
          type: string
        style: form
      - description: Results per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          description: Results per page
          maximum: 100
          minimum: 1
          title: Per Page
          type: integer
        style: form
      - description: Pagination cursor (from previous page)
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Minimum price
        explode: true
        in: query
        name: price_min
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      - description: Maximum price
        explode: true
        in: query
        name: price_max
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      - description: Comma-separated brand IDs
        explode: true
        in: query
        name: brands
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Comma-separated category IDs
        explode: true
        in: query
        name: categories
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Comma-separated size IDs
        explode: true
        in: query
        name: sizes
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Comma-separated condition slugs (brand_new, used_excellent,\
          \ ...)"
        explode: true
        in: query
        name: conditions
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: male | female
        explode: true
        in: query
        name: gender
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: relevance | newlyListed | priceAscending | priceDescending
        explode: true
        in: query
        name: sort
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Search Depop products
      tags:
      - Depop
      x-accepts:
      - application/json
  /v1/depop/users/{username}:
    get:
      description: Public shop/user profile by username.
      operationId: depop_get_shop_user_profile
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          title: Username
          type: string
        style: simple
      - description: Market code
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: us
          description: Market code
          title: Market
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get shop/user profile
      tags:
      - Depop
      x-accepts:
      - application/json
  /v1/depop/users/{username}/products:
    get:
      description: A user's active listings (cursor-paginated).
      operationId: depop_get_a_user_s_products
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          title: Username
          type: string
        style: simple
      - description: Market code
        explode: true
        in: query
        name: market
        required: false
        schema:
          default: us
          description: Market code
          title: Market
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 24
          maximum: 100
          minimum: 1
          title: Per Page
          type: integer
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get a user's products
      tags:
      - Depop
      x-accepts:
      - application/json
  /v1/duckduckgo/autocomplete:
    get:
      description: DuckDuckGo search-box suggestions.
      operationId: duckduckgo_search_suggestions
      parameters:
      - description: Partial query to complete
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Partial query to complete
          title: Query
          type: string
        style: form
      - description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
          \ = all regions."
        explode: true
        in: query
        name: region
        required: false
        schema:
          default: wt-wt
          description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
            \ = all regions."
          title: Region
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Search suggestions
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
  /v1/duckduckgo/health:
    get:
      description: Check health of the DuckDuckGo scraper service (accepts HEAD for
        UptimeRobot).
      operationId: duckduckgo_duckduckgo_scraper_health_check
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: DuckDuckGo scraper health check
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
    head:
      description: Check health of the DuckDuckGo scraper service (accepts HEAD for
        UptimeRobot).
      operationId: duckduckgo_duckduckgo_scraper_health_check_head
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: DuckDuckGo scraper health check
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
  /v1/duckduckgo/images:
    get:
      description: DuckDuckGo image search with size/color/type/layout/license filters.
      operationId: duckduckgo_image_search
      parameters:
      - description: Search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search query
          title: Query
          type: string
        style: form
      - description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
          \ = all regions."
        explode: true
        in: query
        name: region
        required: false
        schema:
          default: wt-wt
          description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
            \ = all regions."
          title: Region
          type: string
        style: form
      - description: on | moderate | off
        explode: true
        in: query
        name: safesearch
        required: false
        schema:
          default: moderate
          description: on | moderate | off
          title: Safesearch
          type: string
        style: form
      - description: 100 results per page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: 100 results per page
          maximum: 10
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: Small | Medium | Large | Wallpaper
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: ""
          description: Small | Medium | Large | Wallpaper
          title: Size
          type: string
        style: form
      - description: color | Monochrome | Red | Blue | …
        explode: true
        in: query
        name: color
        required: false
        schema:
          default: ""
          description: color | Monochrome | Red | Blue | …
          title: Color
          type: string
        style: form
      - description: photo | clipart | gif | transparent | line
        explode: true
        in: query
        name: image_type
        required: false
        schema:
          default: ""
          description: photo | clipart | gif | transparent | line
          title: Image Type
          type: string
        style: form
      - description: Square | Tall | Wide
        explode: true
        in: query
        name: layout
        required: false
        schema:
          default: ""
          description: Square | Tall | Wide
          title: Layout
          type: string
        style: form
      - description: Any | Public | Share | ShareCommercially | Modify
        explode: true
        in: query
        name: license
        required: false
        schema:
          default: ""
          description: Any | Public | Share | ShareCommercially | Modify
          title: License
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Image search
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
  /v1/duckduckgo/instant:
    get:
      description: "DuckDuckGo Instant Answer — abstract, definition, direct answer,\
        \ related topics."
      operationId: duckduckgo_instant_answer
      parameters:
      - description: Query for the Instant Answer API
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Query for the Instant Answer API
          title: Query
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Instant Answer
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
  /v1/duckduckgo/news:
    get:
      description: "DuckDuckGo news search — headline, source, excerpt, unix + ISO\
        \ date, image."
      operationId: duckduckgo_news_search
      parameters:
      - description: Search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search query
          title: Query
          type: string
        style: form
      - description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
          \ = all regions."
        explode: true
        in: query
        name: region
        required: false
        schema:
          default: wt-wt
          description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
            \ = all regions."
          title: Region
          type: string
        style: form
      - description: on | moderate | off
        explode: true
        in: query
        name: safesearch
        required: false
        schema:
          default: moderate
          description: on | moderate | off
          title: Safesearch
          type: string
        style: form
      - description: day | week | month | year
        explode: true
        in: query
        name: timelimit
        required: false
        schema:
          default: ""
          description: day | week | month | year
          title: Timelimit
          type: string
        style: form
      - description: 30 results per page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: 30 results per page
          maximum: 10
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: News search
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
  /v1/duckduckgo/regions:
    get:
      description: The full DuckDuckGo region (kl) code list.
      operationId: duckduckgo_list_supported_regions
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: List supported regions
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
  /v1/duckduckgo/search:
    get:
      description: "DuckDuckGo web SERP — organic results, the zero-click abstract\
        \ box, ads flagged."
      operationId: duckduckgo_web_search
      parameters:
      - description: Search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search query
          title: Query
          type: string
        style: form
      - description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
          \ = all regions."
        explode: true
        in: query
        name: region
        required: false
        schema:
          default: wt-wt
          description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
            \ = all regions."
          title: Region
          type: string
        style: form
      - description: on | moderate | off
        explode: true
        in: query
        name: safesearch
        required: false
        schema:
          default: moderate
          description: on | moderate | off
          title: Safesearch
          type: string
        style: form
      - description: day | week | month | year
        explode: true
        in: query
        name: timelimit
        required: false
        schema:
          default: ""
          description: day | week | month | year
          title: Timelimit
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 25
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Web search
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
  /v1/duckduckgo/videos:
    get:
      description: "DuckDuckGo video search — title, publisher, uploader, duration,\
        \ views, thumbnails."
      operationId: duckduckgo_video_search
      parameters:
      - description: Search query
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search query
          title: Query
          type: string
        style: form
      - description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
          \ = all regions."
        explode: true
        in: query
        name: region
        required: false
        schema:
          default: wt-wt
          description: "DuckDuckGo region code (kl), e.g. us-en, uk-en, de-de. wt-wt\
            \ = all regions."
          title: Region
          type: string
        style: form
      - description: on | moderate | off
        explode: true
        in: query
        name: safesearch
        required: false
        schema:
          default: moderate
          description: on | moderate | off
          title: Safesearch
          type: string
        style: form
      - description: 60 results per page
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: 60 results per page
          maximum: 10
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: short | medium | long
        explode: true
        in: query
        name: duration
        required: false
        schema:
          default: ""
          description: short | medium | long
          title: Duration
          type: string
        style: form
      - description: high | standard
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          default: ""
          description: high | standard
          title: Resolution
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Video search
      tags:
      - DuckDuckGo
      x-accepts:
      - application/json
  /v1/ebay/autocomplete:
    get:
      description: Return eBay keyword autocomplete suggestions.
      operationId: ebay_keyword_suggestions
      parameters:
      - description: Partial query prefix
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Partial query prefix
          title: Query
          type: string
        style: form
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Keyword suggestions
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/categories:
    get:
      description: List eBay's top-level category ids.
      operationId: ebay_list_categories
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: List categories
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/categories/{category_id}/items:
    get:
      description: List active listings within an eBay category.
      operationId: ebay_browse_a_category
      parameters:
      - explode: false
        in: path
        name: category_id
        required: true
        schema:
          title: Category Id
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 100
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          maximum: 240
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: best_match
          description: best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low
          title: Sort By
          type: string
        style: form
      - explode: true
        in: query
        name: min_price
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      - explode: true
        in: query
        name: max_price
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Browse a category
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/completed:
    get:
      description: Search completed/sold listings — eBay's sold-price history.
      operationId: ebay_completed_sold_listings
      parameters:
      - description: Search keywords
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search keywords
          title: Query
          type: string
        style: form
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: category_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 100
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          maximum: 240
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: best_match
          description: best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low
          title: Sort By
          type: string
        style: form
      - description: new|open_box|refurbished|used|for_parts
        explode: true
        in: query
        name: condition
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: min_price
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      - explode: true
        in: query
        name: max_price
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Completed / sold listings
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/health:
    get:
      description: Check health of the eBay scraper service (accepts HEAD for UptimeRobot).
      operationId: ebay_ebay_scraper_health_check
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: eBay scraper health check
      tags:
      - eBay
      x-accepts:
      - application/json
    head:
      description: Check health of the eBay scraper service (accepts HEAD for UptimeRobot).
      operationId: ebay_ebay_scraper_health_check_head
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: eBay scraper health check
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/items/{item_id}:
    get:
      description: Get a single eBay listing's full detail.
      operationId: ebay_get_item_detail
      parameters:
      - explode: false
        in: path
        name: item_id
        required: true
        schema:
          title: Item Id
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get item detail
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/items/{item_id}/reviews:
    get:
      description: Get catalog product reviews shown on an eBay listing.
      operationId: ebay_get_item_reviews
      parameters:
      - explode: false
        in: path
        name: item_id
        required: true
        schema:
          title: Item Id
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get item reviews
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/markets:
    get:
      description: List all supported eBay marketplaces.
      operationId: ebay_list_markets
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - ApiKeyAuth: []
      summary: List markets
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/search:
    get:
      description: Search an eBay marketplace for active listings.
      operationId: ebay_search_listings
      parameters:
      - description: Search keywords
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Search keywords
          title: Query
          type: string
        style: form
      - description: "Marketplace domain (com, co.uk, de …)"
        explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          description: "Marketplace domain (com, co.uk, de …)"
          title: Domain
          type: string
        style: form
      - description: Restrict to a category id
        explode: true
        in: query
        name: category_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 100
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: "60, 120 or 240"
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          maximum: 240
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: best_match
          description: best_match|ending_soonest|newly_listed|price_low_to_high|price_high_to_low
          title: Sort By
          type: string
        style: form
      - description: new|open_box|refurbished|used|for_parts
        explode: true
        in: query
        name: condition
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: auction|buy_it_now|best_offer
        explode: true
        in: query
        name: buying_format
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: min_price
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      - explode: true
        in: query
        name: max_price
        required: false
        schema:
          minimum: 0
          nullable: true
          type: number
        style: form
      - explode: true
        in: query
        name: free_shipping
        required: false
        schema:
          default: false
          title: Free Shipping
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Search listings
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/sellers/{username}:
    get:
      description: Get an eBay seller's public profile.
      operationId: ebay_get_seller_profile
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          title: Username
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get seller profile
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/sellers/{username}/feedback:
    get:
      description: Get a seller's recent feedback comments.
      operationId: ebay_get_seller_feedback
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          title: Username
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 50
          minimum: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get seller feedback
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/ebay/sellers/{username}/items:
    get:
      description: List the active listings of a single eBay seller.
      operationId: ebay_get_seller_listings
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          title: Username
          type: string
        style: simple
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          default: com
          title: Domain
          type: string
        style: form
      - explode: true
        in: query
        name: query
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 100
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          maximum: 240
          minimum: 1
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - ApiKeyAuth: []
      summary: Get seller listings
      tags:
      - eBay
      x-accepts:
      - application/json
  /v1/facebook/ads/search:
    get:
      description: Search the Facebook Ad Library.
      operationId: facebook_search_the_ad_library
      parameters:
      - description: Advertiser or keyword
        explode: true
        in: query
        name: query
        required: true
        schema:
          description: Advertiser or keyword
          title: Query
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: false
        schema:
          default: US
          title: Country
          type: string
        style: form
      - explode: true
        in: query
        name: ad_type
        required: false
        schema:
          default: all
[...]
